
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Garden Info</ion-title>

  </ion-navbar>

</ion-header>



<ion-content padding>
  <h2>Available Products</h2>
  <p></p>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
    <h2>Client Details</h2>
    <p></p>
    <button ion-button round (click)="getUserProfile()">profile data</button>
<!-- {{ref.name}} -->
      <!-- <ion-list>
        <ion-item *ngFor="let profile of userprofiles">
      {{ profile.firstName }} {{ profile.lastName }}<br>
        Phone: {{ cd.phoneNumber }}<br>
        Email: {{ cd.email }}
        </ion-item>
      </ion-list> -->
</ion-content>

<!-- {{ clientDeets.first }} {{ clientDeets.last }}
Address: {{ clientDeets.address }} -->
<!-- Zip: {{ clientDeets.Zip}} -->
<!-- Garden size: {{ clientDeets.numbeds  clientDeets.size}}
Start Date: {{ clientDeets.startdate}} -->
